@import 'variables';

$block-border-radius: 0.15rem;

.markdown {
  color: $cn-raven;
  font-size: 0.882rem;
  line-height: 1.764rem;
  letter-spacing: -0.1px;

  h1 {
    color: $cn-limited-spruce;
    font-size: 2rem;
    font-weight: 300;
    letter-spacing: -0.7px;
    line-height: 3rem;
    margin-top: 0;
    margin-bottom: 1.1rem;

    @media #{$xl-up} {
      font-size: 2.235rem;
      line-height: 3.06rem;
    }
  }

  h2 {
    color: $black;
    font-size: 1.294rem;
    font-weight: 300;
    letter-spacing: -0.15px;
    line-height: 2rem;
  }

  h3 {
    color: $black;
    font-size: .882rem;
    font-weight: 400;
    letter-spacing: -0.15px;
    line-height: 1.529rem;
    text-transform: uppercase;
  }

  h4 {
    color: $black;
    font-size: .882rem;
    font-weight: 500;
    letter-spacing: 1.25px;
    line-height: 24px;
  }

  h5 {
    color: $black;
    font-size: .674rem;
    font-weight: 500;
    letter-spacing: 1.1px;
    line-height: 18px;
    text-transform: uppercase;
  }

  summary {
    color: $cn-jade;
  }

  p {
    margin: 0 0 1.1rem;

    + h2 {
      margin-top: 2.3rem;
    }
  }

  h2 + h3 {
    margin-top: 2rem;
  }

  figcaption {
    font-style: italic;
    font-size: 80%;
    line-height: 1.1rem;
  }

  ul {
    padding: 0;
    list-style: none;

    li {
      padding-left: 25px;


    //  &:before {
    //  content: '';
    //    background-color: $cn-limited-spruce;
    //    border-radius: 50%;
    //    width: 6px;
    //    height: 6px;
    //    position: absolute;
    //    left: 0;
    //    top: 10px;
    //  }
    }
  }

    // h1 {
    //   font-size: 2.23rem;
    //   margin-top: 0;
    //   font-weight: 300;
    //   line-height: 1em;
    // }
    // h2 {
    //   font-weight: 300;
    // }
    // h3 {
    //   transform: uppercase;
    // }
    // h4, h5 {
    //   font-weight: 600;
    // }

    // h1,h2,h3,h4,h5 {
    //   color: $cn-limited-spruce;
    // }

// nested lists
  ul {
      list-style:disc;
      margin-left: 1rem;
      padding: 0;
      li{
        position: relative;
        padding: 0;
        ul{
          margin-left: 1rem;
          li{
            list-style-type: circle;
            padding: 0;
            &:marker {
              padding-right: 1rem
            }
          }
        }
      }
    }

    ol {
        list-style: decimal;
        margin-left: 1rem;
        padding: 0;
        li{
          position: relative;
          padding: 0;
          ol{
            margin-left: 1rem;
            li{
              list-style-type: lower-alpha;
              padding: 0;
              &:marker {
                padding-right: 1rem
              }
            }
          }
        }
      }




    // remove padding at the beginning of page
  b, optgroup, strong {
    font-weight: 700;
  }

  a {
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  code {
    color: $cn-nevada;
    font-size: .882rem;
    //font-family: 'Oxygen Mono', monospace;

    padding: 0 0;
  //  background: $cn-heather;
    border-radius: $block-border-radius;
  }

  .copy-code-img {
    border: 0;
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 5px;

    &:focus {
      outline: 0;
    }

    &.tooltip:before {
      content: attr(aria-label);
      position: absolute;
      display: inline-block;
      padding: 0 6px;
      border-radius: 2px;
      background: #000;
      color: #fff;
      font-size: 12px;
      white-space: nowrap;
      right: 30px;
      top: 3px;
    }
    &.tooltip:after {
      content: '';
      position: absolute;
      left: -10px;
      display: inline-block;
      color: #fff;
      border: 8px solid transparent;
      border-bottom: 8px solid #000;
      border-color: transparent;
      border-left-color: #000;
      border-width: 7px;
      margin-top: 50%;
      line-height: 0;
    }
  }

  pre {
    padding: $padding-16;
    position: relative;
    background: $code-block-background;
    border: 1px solid #b5bdc9;
    border-radius: 0;
    font-size: $font-size-14;
    margin: 1.99rem 0;
    overflow-x: auto;
  }

  blockquote {
    border-left: $padding-1*2 solid $gray-300;
    margin: 0;
    padding: $padding-1 $padding-16;

    :first-child { margin-top: 0; }
    :last-child { margin-bottom: 0; }
  }

  table {
    border-spacing: 0;
    border-collapse: collapse;
    table-layout: fixed;
    width: 100%;
    display: block;
    overflow: auto;

    p {
      word-break: unset;
    }

    tr th, tr td {
      :header{
        background: $gray-200;
      }
      padding: $padding-8 $padding-16;
      line-height: 1.5;
      border: 1px solid $gray-200;
    }

    td { 
      vertical-align: top;
    }

    tr:nth-child(2n) {
      background: $gray-100;
    }
  }

  p code {
    color: $cn-nevada;
    background: $code-block-background;
  }

  li code {
    color: $cn-nevada;
    background: $code-block-background;
  }

  td code {
    color: $cn-nevada;
    background: $code-block-background;
  }

  .notices p code {
    color: inherit;
  }
}

  .notices pre {
      padding: $padding-16;
      position: relative;
      background: $code-block-background;
      border: 1px solid #b5bdc9;
      border-radius: 0;
      font-size: $font-size-14;
      margin: 1.99rem 0;
      overflow-x: auto;
  }