//Cumulus gotham font import
@import url("https://cloud.typography.com/7905356/6161172/css/fonts.css");

// Import DIN PRO webfont
@font-face { 
  font-family: "DIN-Web-Pro";
  src: url("https://static.cumulusnetworks.com/static/fonts/DIN-Web-Pro/DIN-Web-Pro-Light.eot"); /* IE9 Compat Modes */
  src: url("https://static.cumulusnetworks.com/static/fonts/DIN-Web-Pro/DIN-Web-Pro-Light.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
       url("https://static.cumulusnetworks.com/static/fonts/DIN-Web-Pro/DIN-Web-Pro-Light.ttf") format("truetype"), /* Safari, Android, iOS */
       url("https://static.cumulusnetworks.com/static/fonts/DIN-Web-Pro/DIN-Web-Pro-Light.woff") format("woff"), /* Modern Browsers */
       url("https://static.cumulusnetworks.com/static/fonts/DIN-Web-Pro/DIN-Web-Pro-Light.woff2") format("woff2"); /* Modern Browsers */
  font-weight: 300; /* Light */
  font-style: normal;
}

@font-face { 
  font-family: "DIN-Web-Pro";
  src: url("https://static.cumulusnetworks.com/static/fonts/DIN-Web-Pro/DIN-Web-Pro-Light-Italic.eot"); /* IE9 Compat Modes */
  src: url("https://static.cumulusnetworks.com/static/fonts/DIN-Web-Pro/DIN-Web-Pro-Light-Italic.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
       url("https://static.cumulusnetworks.com/static/fonts/DIN-Web-Pro/DIN-Web-Pro-Light-Italic.ttf") format("truetype"), /* Safari, Android, iOS */
       url("https://static.cumulusnetworks.com/static/fonts/DIN-Web-Pro/DIN-Web-Pro-Light-Italic.woff") format("woff"), /* Modern Browsers */
       url("https://static.cumulusnetworks.com/static/fonts/DIN-Web-Pro/DIN-Web-Pro-Light-Italic.woff2") format("woff2"); /* Modern Browsers */
  font-weight: 300; /* Light */
  font-style: italic;
}

@font-face { 
  font-family: "DIN-Web-Pro";
  src: url("https://static.cumulusnetworks.com/static/fonts/DIN-Web-Pro/DIN-Web-Pro-Regular.eot"); /* IE9 Compat Modes */
  src: url("https://static.cumulusnetworks.com/static/fonts/DIN-Web-Pro/DIN-Web-Pro-Regular.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
       url("https://static.cumulusnetworks.com/static/fonts/DIN-Web-Pro/DIN-Web-Pro-Regular.ttf") format("truetype"), /* Safari, Android, iOS */
       url("https://static.cumulusnetworks.com/static/fonts/DIN-Web-Pro/DIN-Web-Pro-Regular.woff") format("woff"), /* Modern Browsers */
       url("https://static.cumulusnetworks.com/static/fonts/DIN-Web-Pro/DIN-Web-Pro-Regular.woff2") format("woff2"); /* Modern Browsers */
  font-weight: 400; /* Regular */
  font-style: normal;
}

@font-face { 
  font-family: "DIN-Web-Pro";
  src: url("https://static.cumulusnetworks.com/static/fonts/DIN-Web-Pro/DIN-Web-Pro-Regular-Italic.eot"); /* IE9 Compat Modes */
  src: url("https://static.cumulusnetworks.com/static/fonts/DIN-Web-Pro/DIN-Web-Pro-Regular-Italic.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
       url("https://static.cumulusnetworks.com/static/fonts/DIN-Web-Pro/DIN-Web-Pro-Regular-Italic.ttf") format("truetype"), /* Safari, Android, iOS */
       url("https://static.cumulusnetworks.com/static/fonts/DIN-Web-Pro/DIN-Web-Pro-Regular-Italic.woff") format("woff"), /* Modern Browsers */
       url("https://static.cumulusnetworks.com/static/fonts/DIN-Web-Pro/DIN-Web-Pro-Regular-Italic.woff2") format("woff2"); /* Modern Browsers */
  font-weight: 400; /* Regular */
  font-style: italic;
}

@font-face { 
  font-family: "DIN-Web-Pro";
  src: url("https://static.cumulusnetworks.com/static/fonts/DIN-Web-Pro/DIN-Web-Pro-Medium.eot"); /* IE9 Compat Modes */
  src: url("https://static.cumulusnetworks.com/static/fonts/DIN-Web-Pro/DIN-Web-Pro-Medium.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
       url("https://static.cumulusnetworks.com/static/fonts/DIN-Web-Pro/DIN-Web-Pro-Medium.ttf") format("truetype"), /* Safari, Android, iOS */
       url("https://static.cumulusnetworks.com/static/fonts/DIN-Web-Pro/DIN-Web-Pro-Medium.woff") format("woff"), /* Modern Browsers */
       url("https://static.cumulusnetworks.com/static/fonts/DIN-Web-Pro/DIN-Web-Pro-Medium.woff2") format("woff2"); /* Modern Browsers */
  font-weight: 500; /* Medium */
  font-style: normal;
}

@font-face { 
  font-family: "DIN-Web-Pro";
  src: url("https://static.cumulusnetworks.com/static/fonts/DIN-Web-Pro/DIN-Web-Pro-Medium-Italic.eot"); /* IE9 Compat Modes */
  src: url("https://static.cumulusnetworks.com/static/fonts/DIN-Web-Pro/DIN-Web-Pro-Medium-Italic.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
       url("https://static.cumulusnetworks.com/static/fonts/DIN-Web-Pro/DIN-Web-Pro-Medium-Italic.ttf") format("truetype"), /* Safari, Android, iOS */
       url("https://static.cumulusnetworks.com/static/fonts/DIN-Web-Pro/DIN-Web-Pro-Medium-Italic.woff") format("woff"), /* Modern Browsers */
       url("https://static.cumulusnetworks.com/static/fonts/DIN-Web-Pro/DIN-Web-Pro-Medium-Italic.woff2") format("woff2"); /* Modern Browsers */
  font-weight: 500; /* Medium */
  font-style: italic;
}

@font-face { 
  font-family: "DIN-Web-Pro";
  src: url("https://static.cumulusnetworks.com/static/fonts/DIN-Web-Pro/DIN-Web-Pro-Bold.eot"); /* IE9 Compat Modes */
  src: url("https://static.cumulusnetworks.com/static/fonts/DIN-Web-Pro/DIN-Web-Pro-Bold.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
       url("https://static.cumulusnetworks.com/static/fonts/DIN-Web-Pro/DIN-Web-Pro-Bold.ttf") format("truetype"), /* Safari, Android, iOS */
       url("https://static.cumulusnetworks.com/static/fonts/DIN-Web-Pro/DIN-Web-Pro-Bold.woff") format("woff"), /* Modern Browsers */
       url("https://static.cumulusnetworks.com/static/fonts/DIN-Web-Pro/DIN-Web-Pro-Bold.woff2") format("woff2"); /* Modern Browsers */
  font-weight: 700; /* Bold */
  font-style: normal;
}

@font-face { 
  font-family: "DIN-Web-Pro";
  src: url("https://static.cumulusnetworks.com/static/fonts/DIN-Web-Pro/DIN-Web-Pro-Bold-Italic.eot"); /* IE9 Compat Modes */
  src: url("https://static.cumulusnetworks.com/static/fonts/DIN-Web-Pro/DIN-Web-Pro-Bold-Italic.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
       url("https://static.cumulusnetworks.com/static/fonts/DIN-Web-Pro/DIN-Web-Pro-Bold-Italic.ttf") format("truetype"), /* Safari, Android, iOS */
       url("https://static.cumulusnetworks.com/static/fonts/DIN-Web-Pro/DIN-Web-Pro-Bold-Italic.woff") format("woff"), /* Modern Browsers */
       url("https://static.cumulusnetworks.com/static/fonts/DIN-Web-Pro/DIN-Web-Pro-Bold-Italic.woff2") format("woff2"); /* Modern Browsers */
  font-weight: 700; /* Bold */
  font-style: italic;
}


$padding-1: 1px;
$padding-4: 0.25rem;
$padding-8: 0.5rem;
$padding-16: 1rem;

$cumulus-font-family: "Gotham A", "Gotham B", "Helvetica", sans-serif;
$font-size-base: 17px;
$font-size-12: 0.70rem;
$font-size-14: 0.823rem;
$font-size-16: 0.941;
$border-radius: $padding-4 !default;

// Grayscale
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #868e96;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;

// Primary color palette
$jade: #00ad69;
$white: #ffffff;
$black: #000;

//Secondary color palette
$mantis: #7ccc6c;
$fern: #4bc05b;
$observatory: #009271;
$tropical-rain-forest: #006c56;
$te-papa-green: #1e5a4d;

// Tertiary color palette
$energy-yellow: #ffc82e;
$neon-carrot: #ffa12d;
$radical-pink: #f1446f;
$error-red: $radical-pink;
$rarity-violet: #83389b;
$seagull-blue: #1eb5bd;
$dark-olive: #364249;
$wizard-blue: #78cdd1;

// Cool grays
$spruce-gray: #36424a;
$rolling-stone: #75828c;
$nevada-gray: #5f6a72;
$cadet-gray: #b5bdc9;
$athens-gray: #eaedf2;
$aqua-haze: #f6f8fa;
$heather-gray: #cbd4e0;
$gray-chateau: #8c9aa6;
$mystic: #e0e4ec;


$color-link: $jade;
$color-visited-link: $spruce-gray;
$color-dark-link: $spruce-gray;

$body-background: $white;
$body-font-color: $spruce-gray;
$body-font-weight: 300;
$body-min-width: 5rem;

$code-block-background: $athens-gray;

$nav-background: $aqua-haze;
$nav-link-color: $spruce-gray;

$header-height: 3.5rem;
$menu-width: 18.53rem;
$toc-width: 14.647rem;

$container-min-width: $body-min-width;
$container-max-width: 130rem;

$sm-breakpoint: $menu-width + $body-min-width + 5;
$md-breakpoint: $sm-breakpoint + $toc-width;

$body-max-width: $container-max-width - $menu-width - $toc-width;

$xs-down: 'only screen and (max-width: 575px)';

$sm-up: 'only screen and (min-width: 576px)';
$md-up: 'only screen and (min-width: 768px)';
$lg-up: 'only screen and (min-width: 992px)';
$xl-up: 'only screen and (min-width: 1200px)';
$xxl-up: 'only screen and (min-width: 1600px)';
