//Cumulus gotham font import
@import url("https://static.cumulusnetworks.com/static/fonts/gotham/732873/332B09D260389E648.css");

$padding-1: 1px;
$padding-4: 0.25rem;
$padding-8: 0.5rem;
$padding-16: 1rem;

$cumulus-font-family: "Gotham A", "Gotham B", "Helvetica", sans-serif;
$font-size-base: 17px;
$font-size-12: 0.70rem;
$font-size-14: 0.823rem;
$font-size-16: 0.941;

// Grayscale
$white: #ffffff;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #868e96;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;
$black: #000;

$cn-jade: #00ad69;
$cn-limited-spruce: #36424a;
$cn-nevada:  #515d68;
$cn-rolling-stone : #75828c;
$cn-gray-chateau: #8c9aa6;
$cn-heather :  #cbd4e0;
$cn-athens-gray:  #eaedf2 ;
$cn-mantis :  #7ccc6c ;
$cn-fern:  #4bc05b ;
$cn-observatory :  #009271 ;
$cn-tropical-rain-forest :  #006c56 ;
$cn-energy-yellow :  #ffc82e ;
$cn-neon-carrot :  #ffa12d ;
$cn-radical-red :  #f1446f ;
$cn-rarity :  #83389b ;
$cn-seagull :  #1eb5bd  ;
$cn-halfbaked :  #78cdd1 ;
$cn-aquahaze: #f6f8fa;
$cn-raven: #75828C;
$cn-mystic: #e0e4ec;


$color-link: $cn-jade;
$color-visited-link: $cn-limited-spruce  ;
$color-dark-link: $cn-limited-spruce;

$body-background: white;
$body-font-color: $cn-limited-spruce;
$body-font-weight: 300;
$body-min-width: 5rem;

$code-block-background: $cn-athens-gray;



$nav-background: $cn-aquahaze ;
$nav-link-color: $cn-limited-spruce;

$header-height: 3.5rem;
$menu-width: 18.53rem;
$toc-width: 14.647rem;

$container-min-width: $body-min-width;
$container-max-width: 130rem;

$sm-breakpoint: $menu-width + $body-min-width + 5;
$md-breakpoint: $sm-breakpoint + $toc-width;

$body-max-width: $container-max-width - $menu-width - $toc-width;

$sm-up: 'only screen and (min-width: 576px)'; 
$md-up: 'only screen and (min-width: 768px)';
$lg-up: 'only screen and (min-width: 992px)';
$xl-up: 'only screen and (min-width: 1200px)'; 
$xxl-up: 'only screen and (min-width: 1600px)';

