// Hugo only supports dynamic hugo variables in the main .scss file
// This will not work if they are placed into the _variables.scss file
$baseline-expand_more: '{{"icons/baseline-expand_more.svg" | absURL}}';
$alert-triangle: '{{"icons/alert-triangle.png" | absURL}}';
$remove-circle: '{{"icons/remove-circle.png" | absURL}}';
$info-circle: '{{"icons/info-circle.png" | absURL}}';
$check-circle: '{{"icons/check-circle.png" | absURL}}';
$remove-circle-20x20: '{{"icons/remove-circle_20x20.png" | absURL}}';
$info-circle-20x20: '{{"icons/info-circle_20x20.png" | absURL}}';
$alert-triangle-20x20: '{{"icons/alert-triangle_20x20.png" | absURL}}';

@import "normalize";
@import "variables";
@import "markdown";
@import "utils";
@import "syntax";
@import "notices";
@import "shortcodes";


html {
  font-size: $font-size-base;
  letter-spacing: 0.31px;
}

html,
body {
  min-width: $body-min-width;
}

body {
  color: $body-font-color;
  background: $body-background;

  font-family: helvetica, sans-serif;
  font-weight: $body-font-weight;

  // overflow-x: hidden;

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  box-sizing: border-box;
  * {
    box-sizing: inherit;
  }
}

h1,
h2,
h3,
h4,
h5 {
  font-family: $cumulus-font-family;
}

a {
  text-decoration: underline;
  text-decoration-color: #76b900;
  text-decoration-thickness: 2px;
  text-underline-offset: 0.3125em;
  color: inherit;

  &:visited {
    color: inherit;
    text-decoration: underline;
    text-decoration-color: #76b900;
    text-decoration-thickness: 2px;
    text-underline-offset: 0.3125em;


  }

  
}

img {
  vertical-align: middle;
  max-width: 100%;
}

//Menu Styles and Expand/Collapse
aside nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
  // transition: all 0.4s ease-in-out;
  // font-stretch: condensed;

  .expand{
    display: block;
    visibility: visible;
    border-left: solid $nvidia-green;
    border-width: 1px;
    li>a{
      padding-left: 12px;
    }
  }
  .collapse{
    display: none;
    visibility: hidden;
  }

  li {
    margin: 1.3em 0;
  }

  a {
    display: block;
    text-decoration: none;

  }
  a:active{
    color: $nvidia-green;
  }
  a:hover {
    opacity: .5;
  }

  ul {
    padding-left: 0;
    margin-left: 5px;
    @media #{$xl-up} {
      margin-left: 14px;
    }
  }
}


ul.pagination {
  display: flex;
  justify-content: center;

  .page-item a {
    padding: $padding-16;
  }
}

.book-brand {
  margin-top: 0;
  display: none;
}

.book-menu {
  flex: 0 0 15.53rem;
  font-size: .9rem;
  overflow-y: scroll;

  @media #{$xl-up} {
    flex: 0 0 $menu-width;
  }
  nav {
    background-color: $nav-background;
    font-family: $cumulus-font-family;
    font-weight: 400;
    width: 15.53rem;
    height: 100%;
    padding: 2.2rem 1rem;

    @media #{$xl-up} {
      width: $menu-width;
      padding: 2.2rem 1.2rem;
    }

    a{
      display: block;
      letter-spacing: 0;
    }
    .expand {
      .menuControl {
        transform: rotate(-90deg);
      }
    }
  }

  @include dark-links;
}

.book-section-flat {
  margin-bottom: $padding-16 * 2;
  bo
  > a, > span {
    font-weight: 600
  }

  > ul {
    padding-left: 0;
  }
}

.book-page {
  min-width: $body-min-width;
  flex-grow: 1;
  padding: 3.74rem 2.7rem;
  overflow-x: scroll;
}

.book-header {
  margin-bottom: $padding-16;
  display: none;
}

.book-toc {
  border-left: 1px solid $mystic;
  flex: 0 0 $toc-width;
  font-size: $font-size-12;
  background-color: $white ;
  display: block;
  width: $toc-width;
  padding: $padding-16;
  top: inherit;
  right :0;
  // @media #{$lg-up} {
  //   display: block;
  // }

  nav {
    width: $toc-width;
    padding: $padding-16;
    background-color: transparent;
    // position: fixed;
    // top: 294px;
    // overflow-x: hidden;
    // overflow-y: scroll;

    a {
      color: $rolling-stone;
      font-weight: 400;
      line-height: 22px;
    }

    >ul>li>a:first-of-type{
      color: $nvidia-green;
      font-weight: 600;
    }
  }

  nav ul li {
    margin: 1em;
  }

  nav > ul > li {
    margin: 0;
  }

  button {
    background: none;
    border: 0;
    font-size: 13px;
    font-weight: 600;
    position: relative;
    top: 43px;
    left: 7px;
    padding: 0 8px 19px;
    width: 100%;
    text-align: left;

    &:after {
      content: '';
      background-color: #e0e4ec;
      display: block;
      width: 169px;
      height: 2px;
      position: absolute;
      bottom: -9px;
    }

    img {
      margin-right: 4px;
      width: 19px;
      height: 19px;
    }
  }
}

.book-git-footer {
  display: flex;
  margin-top: $padding-16;
  font-size: $font-size-14;
  align-items: baseline;

  img {
    width: $font-size-14;
    vertical-align: bottom;
  }
}

.book-footer {
  display: flex;
  margin-top: $padding-16;
  font-size: $font-size-14;
  align-items: baseline;

  img {
    width: $font-size-14;
    vertical-align: bottom;
  }
}

.book-posts {
  min-width: $body-min-width;
  max-width: $sm-breakpoint;
  flex-grow: 1;
  padding: $padding-16;

  article {
    padding-bottom: $padding-16;
  }
}

.book-home {
  padding: $padding-16;
}

.menuControl{
  display: inline-block;
  float: left;
  padding-right: 5px;
  padding-bottom: 5px;
  color: $spruce-gray;
  position: relative;
  top: -9px;
}

.menuControl.empty{
visibility: hidden;
}
// Responsive styles
aside nav,
.book-page,
.book-posts,
.markdown {
  transition: 0.2s ease-in-out;
  transition-property: transform, margin-left, opacity;
  will-change: transform, margin-left;
}

// @media screen and (max-width: $sm-breakpoint) {
//   .book-toc {
//     display: none;
//   }
// }

@media screen and (max-width: $md-breakpoint) {
  // .book-menu {
  //   margin-left: -$menu-width;
  // }

  .book-header {
    display: flex;
  }

  #menu-control:checked + main {
    .book-menu nav,
    .book-page,
    .book-posts {
      transform: translateX($menu-width);
    }

    .book-header label {
      transform: rotate(90deg);
    }

    .markdown {
      opacity: 0.25;
    }
  }

  .markdown {
    p {
      word-break: break-word;
      code {
        word-break: break-word;
      }
    }
  }
}


// Extra space for big screens
@media screen and (min-width: $container-max-width) {
  main.containter{
    justify-content: center

  }
  .book-page{
    flex: 0 0 $body-max-width;
  }
  .book-posts,
  .book-toc {
    flex: 1 0 auto;
  }
  .book-menu {
    flex: 0 0 auto;
    flex-basis: $menu-width


  }
}

// Add custom defined styles
@import 'custom'
