name: 'URL Checker'

on: [push, pull_request]

jobs:
  check_urls:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout git repo
      uses: actions/checkout@v2
    - name: Download and install Hugo
      uses: peaceiris/actions-hugo@v2
      with:
        hugo-version: "0.65.3"
        extended: true
    - name: Update link shortcode to error on broken links
      run: sed -i 's/#ERROR/\<{{ errorf "broken link in %s" .Position }}\>/g' themes/netDocs/layouts/shortcodes/link.html
    - name: Run Hugo
      run: hugo
